includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - app-modules
    excludePaths:
        - app-modules/*/database/migrations/*
    ignoreErrors: []
    checkMissingIterableValueType: true
